watch_file go.mod
watch_file pnpm-lock.yaml

use flake

if [ -d node_modules/.bin ]; then
    export PATH="$PWD/node_modules/.bin:$PATH"
fi

if [[ -f go.mod ]]; then
  current_hash=$(sha256sum go.mod | cut -d' ' -f1)
  stored_hash=$(cat .direnv/go-mod-hash || true)
  if [[ -z $stored_hash ]] || [[ "$current_hash" != "$stored_hash" ]]; then
    go mod tidy
    sha256sum go.mod | cut -d' ' -f1 > .direnv/go-mod-hash
  fi
fi

if [[ -f pnpm-lock.yaml ]]; then
  current_hash=$(sha256sum pnpm-lock.yaml | cut -d' ' -f1)
  stored_hash=$(cat .direnv/pnpm-hash || true)
  if [[ -z $stored_hash ]] || [[ "$current_hash" != "$stored_hash" ]]; then
    pnpm install
    sha256sum pnpm-lock.yaml | cut -d' ' -f1 > .direnv/pnpm-hash
  fi
fi
